{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Energy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<style>
   a {
       text-decoration: none;
       color: black;
   }

   nav {
       background: #56bf52;
   }

   nav div {
       font-weight: bold;
       font-size: 1.25rem;
   }
</style>
<body>
    <nav>
        <div>
            <a href="{% url 'main:home' %}">Home</a>
        </div>

        <div>Products
            <ul>
                <li><a href="{% url 'main:solar_panels' %}">Solar Panels</a></li>
                <li><a href="{% url 'main:ev_chargers' %}">EV Chargers</a></li>
                <li><a href="{% url 'main:smart_home_devices' %}">Smart Home Devices</a></li>
            </ul>
        </div>
        <div>
            <a href="{% url 'main:consultations' %}">Consultations and Installations</a>
        </div>
        <div>Dashboard
            <ul>
                <li><a href="{% url 'main:my_bookings' %}">My Bookings</a></li>
                <li><a href="{% url 'main:my_energy' %}">My Energy Usage</a></li>
                <li><a href="{% url 'main:my_carbon_footprint' %}">Carbon Footprint</a></li>
            </ul>
        </div>
        <div>
            {% if user.is_authenticated %}
            <div>Settings
                <ul>
                    <li>
                        <form method="post" action="{% url 'main:logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <li>
                        <a href="{% url 'main:account_info' %}">Account Information</a>
                    </li>
                </ul>
            </div>
            {% else %}
                <a href="{% url 'main:login' %}">Login</a>
                <a href="{% url 'main:signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <div class="footer-links">
            <a href="{% url 'main:about' %}">About</a> |
            <a href="{% url 'main:contact' %}">Contact Us</a>
        </div>
        <p>&copy; 2025 Green Energy. All rights reserved.</p>
    </footer>
</body>
</html>
